{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    // Double quotes, break the rule when the string itself contains double quotes
    "@typescript-eslint/quotes": [
      "error",
      "double",
      "avoid-escape"
    ],
    "@typescript-eslint/lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "max-len": [
      "error",
      120
    ],
    "no-console": [
      "off"
    ]
  }
}
